#DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=rise-boost
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#APP
APP_URL=
SALT_SECRET=

#MERCADO LIVRE CREDENTIALS
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_SECRET_KEY=
NEXT_PUBLIC_REDIRECT_URI=
URL_ML=https://api.mercadolibre.com

#REDIS
REDIS_PORT=6379
REDIS_URL=redis://@redis:6379