#DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=rise-boost
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#APP
APP_URL=
SALT_SECRET=

#MERCADO LIVRE CREDENTIALS
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_SECRET_KEY=
NEXT_PUBLIC_REDIRECT_URI=
URL_ML=https://api.mercadolibre.com

#REDIS
REDIS_PORT=6379
REDIS_URL=redis://@redis:6379

#COOKIES
COOKIES_NAME=riese_boost_session_cookie

#LOGTAIL
LOGTAIL_SOURCE_TOKEN=LP55XJdW82cceGnr3Bs3EgCm

#BREVO MAILER
BREVO_API_KEY=
BREVO_PATH=https://api.brevo.com/v3/smtp
BREVO_SENDER=
BREVO_CORPORATION_NAME=
BREVO_TEMPLATE_RESET_PASSWORD=

#NODE_ENV
NODE_ENV=development